[2022-10-03 13:32] rahul-n18 opened #1 "Build Front page and few modifications"
I have created this Repository which is set to help hundred's of student's.

I Just need your Ideas on how we can Implement this.
Once Check the Repo and You can fork it.

Ill Immediately PR/MR if you have a good solution.

you can create your own issue and give me a solution.

[2022-10-03 21:04] harshxtanwar commented on #1
hello @rahul-n18, I read the read.me file. I can start with making atleast the first HTML, CSS page of the web application which will include a header page containing options of (explore library, what's new in tech?, roadmaps to machine learning, dsa, etc)

[2022-10-03 21:04] harshxtanwar commented on #1
can I get assigned to an issue with this task ?

[2022-10-04 01:35] Wingysam opened #5 "Copyright"
What is the plan for complying with copyright law?

[2022-10-04 02:08] rahul-n18 commented on #1
@harshxtanwar Sorry for the late response.

I'll assign you this Issue and modify It's Title.

But I need 2 things In return
1. Start this repo so others can see it.
2. Please Give an Idea if an app is developed what would you want in that.

Please update your forked repo.

Ps: Thank you in Advance

[2022-10-04 02:22] rahul-n18 commented on #5
@Wingysam
I'll be honest with you I want to make this available for everyone,
But if you have worked on Open-source you know there must be Good Implemented Copywrite Law which will protect works of people who are contributing to this, So if you have understood my word's above you know what exactly to Implement.

But I need 2 things In return
1. Start this repo so others can see it.
2. Please Give

[2022-10-04 02:23] rahul-n18 commented on #5
@Wingysam Do you want me to assign this to you?

[2022-10-04 02:26] rahul-n18 opened #7 "Any Idea's are Welcome"
Just go through this Repository and understand about this Project and you can submit your Ideas.

[2022-10-04 02:32] mak650650 commented on #7
Idea as pull request

[2022-10-04 02:32] mak650650 commented on #7
Or issue

[2022-10-04 02:35] Wingysam commented on #5
I mean if you're making a library, you can't just give out books for free. Do you intend to link to places to buy books if they are still copyrighted? How is this different than for example goodreads? If you intend to violate copyright law, what differentiates this from libgen?

[2022-10-04 03:00] sudhir512kj commented on #7
@mak650650 I can add some openly available resource links for students of all levels here. Please assign me this issue

[2022-10-04 04:15] rahul-n18 commented on #5
@Wingysam I get what you are telling but try to understand this we are not just building only a Book library, cuz there are lot of those out there. But we will be Implementing It in the App.

But as you say we cannot directly distribute the books for free. So we have to have a brainstorming around this.

But I promise you we can make this possible, cuz I believe in People who love's coding and Ope

[2022-10-04 04:16] rahul-n18 commented on #5
@Wingysam you can add a copyright/licence under some limitations

[2022-10-04 04:30] rahul-n18 commented on #7
@mak650650 can you create a new issue so where you can give your Ideas

 I would love to merge your PR.

Any Modifications Are welcome.

But I need 2 things In return

1.Start this repo so others can see it.
2.Please Give an Idea if an app is developed what would you want in that.
Please update your forked repo.

Ps: Thank you in Advance

[2022-10-04 04:32] Tasneem-I opened #9 "Learn Frontend Page"
@rahul-n18
Hey, I think we can categorise the website into various parts like frontend, backend, cyber security, data science etc.,

More importantly, instead of trying to create tutorials we can make it as resources list that showcases what resources would be good (HTML, CSS, JS, Bootstrap, Tailwind CSS, React etc., for frontend)with categories like crash course, full detailed courses and explain

[2022-10-04 04:33] rahul-n18 commented on #7
@sudhir512kj  I'll be Assigning you this work.
You can add resource link for all levels.

I will repeat again, I need 2 things In return

1.Start this repo so others can see it.
2.Please Give an Idea if an app is developed what would you want in that.
Please update your forked repo.

Ps: Thank you in Advance

[2022-10-04 04:38] harshxtanwar commented on #1
Thankyou for assigning me this issue. I will start working on the home page and make a pull request.

Here are some of my ideas:

1) I was thinking that we can have a whole database for books with different topics and the student could chose his favorite topic, we will make a library for the student with books of those topics only.

2) we can make a newsletter which students can subscribe to and w

[2022-10-04 04:44] rahul-n18 commented on #9
@Tasneem-I
I Like your Idea to categories things.
I would love to hear more about it and see what it comes out.

So I will be Assigning this task to you and add hacktoberfest label😅.

But once clarify with @harshxtanwar  because even he's working on the same page.
Issue #1 .

But I need 2 things In return

1.Start this repo so others can see it.
2.Please Give an Idea if an app is developed what wo

[2022-10-04 04:45] rahul-n18 commented on #9
Happy Hacking

[2022-10-04 05:04] Tasneem-I commented on #1
@harshxtanwar

Hey, I would be working on developing a resource list for frontend development and categorising it. I just wish to discuss how we can coordinate as you would be working on the website while I would take care of the frontend roadmap and resources category

[2022-10-04 05:09] Tasneem-I commented on #5
@rahul-n18

Hey, it is difficult to make entire books for free but we can maybe make use of summarizing. For ex., we can make our own list showcasing notes we took on a particular book and it won't come under copyright infringement

[2022-10-04 05:14] Tasneem-I commented on #9
Also, I was actually working on a simple project website showcasing resources I found(the project is mainly for displaying on portfolio) so there would be a lot of similarities between both of the websites 'learning Frontend' part, so I hope you won't mind.

I wouldn't be actually hosting that project but mainly keep it as example to showcase. I hope it isn't a problem

[2022-10-04 05:47] harshxtanwar commented on #1
hello @Tasneem-I you can connect with me on discord and we can discuss over there

liomesssss#8040

[2022-10-04 05:59] anshulsoni4 opened #11 "Add CONTRIBUTING.md file"

[2022-10-04 06:00] Tasneem-I opened #12 "Theme"
I forgot to mention, but do we have a brand kit? (Font, logo, theme colors) so that we can have the website more coordinated. If we decide on them, maybe add them to the readme file so that it would be easier for other contributors

[2022-10-04 06:41] harshxtanwar commented on #1
@Tasneem-I I have just created a pull request, view the code after it gets merged and text me on discord to work more on it

[2022-10-04 07:03] #1 closed

[2022-10-04 07:05] rahul-n18 commented on #5
@Tasneem-I  YES that may be Possible.
We can Integrate Google Books Api in future to work on this.

[2022-10-04 07:06] rahul-n18 commented on #12
Okay I will see through this.

[2022-10-04 07:13] rahul-n18 opened #14 "Create a Suitable Brand Kit for this Repo"
### Create a Suitable Brand Kit for this Repo

Create a Suitable Brand kit for this Repo, so we can add in the Read.me file

But I need 2 things In return

1.Star this repo so others can see it.
2.Please Give an Idea if an app is developed what would you want in that.

Please update your forked repo so I can merge

Ps: Thank you in Advance

[2022-10-04 07:14] rahul-n18 commented on #11
Do You want me to Assign this to you?

[2022-10-04 07:19] rahul-n18 commented on #9
I actually would not mind that but Keep in Mind we are building this for everyone out there in world.

[2022-10-04 07:19] anshulsoni4 commented on #11
@rahul-n18 yes please

[2022-10-04 07:20] anshulsoni4 commented on #11
@rahul-n18 Thankyou

[2022-10-04 07:21] rahul-n18 commented on #11
I need few customization in this.

[2022-10-04 07:23] anshulsoni4 commented on #11
yes, let me know

[2022-10-04 07:32] rahul-n18 commented on #11
1. I want to add a Appropriate License to this Repo.
2. I need to Have Contributors Title as Kings.
    The Reason why I want the name Kings Because Each and everyone who is Working on it to help 100's out there.
 Hope you get my point.

But I need 2 things In return

1.Star this repo so others can see it.
2.Please Give an Idea if an app is developed what would you want in that.

Please update you

[2022-10-04 07:39] Tasneem-I commented on #9
Of course, it's so exciting to create something thinking about how impactful it would be.

On that note, does this project have a domain name and other web hosting technicalities?

[2022-10-04 07:42] Devbysteph opened #16 "I want to fix some type error and refactor the Readme file."
I want to fix some grammatical error on the readme file, please assign to me.

Thank you.

[2022-10-04 07:52] Devbysteph opened #17 "I want to add idea for programs student can participate"
I want to contribute an idea that student can search for programs and opportunities they can participate in. Most time students are not informed of the opportunities available to them. I believe if we have a section where student can get a list of opportunities and programs they can participate in it will help them alot.

Please assign this to me.

[2022-10-04 08:00] dharmikjethva30 commented on #14
I would like to take this issue. But can you please clarify that what you mean by "Suitable Brand Kit" and you expect suct thing for this repo.

[2022-10-04 08:01] ayush4345 commented on #14
I will be contributing to this issue.but I need some clarification regarding "suitable brand kit",and
What you expect from us

[2022-10-04 08:04] Tasneem-I commented on #14
A brand kit involves a logo, name, a suitable list of fonts(around 3-4) and theme colors(4-6) that are visually appealing

[2022-10-04 08:19] dharmikjethva30 commented on #14
please assign it to me. Also tell me the format I should submit.

[2022-10-04 09:56] yunsuklee opened #18 "BUG: Navbar, current page"
Hey!
I noticed while navigating through the different pages the navbar current page does not update.
I would like to fix it!

[2022-10-04 10:20] rahul-n18 commented on #14
@dharmikjethva30 @ayush4345

It's as @Tasneem-I  have mentioned
 In short for us to define what exactly we are building a Brand kit is Very helpful.

you can create these even in Canva but you should have understanding how exactly will this help other's in future.

a2a: the reason for writing suitable is because we have not yet created a complete project so a Discussed brand kit would be better.

[2022-10-04 10:22] rahul-n18 commented on #14
@ayush4345  @dharmikjethva30  I can assign both of you this task as it needs bit of discussion,
if you are fine with it. or else I can assign to anyone

[2022-10-04 10:24] Tasneem-I commented on #14
A brand kit involves a logo, name, a suitable list of fonts(around 3-4) and theme colors(4-6) that are visually appealing.

Also, after finalizing you would need to add it to the readme file

[2022-10-04 10:28] dharmikjethva30 commented on #14
Do the best that seems to you , would be happy to working together

[2022-10-04 10:29] #12 closed

[2022-10-04 10:33] rahul-n18 commented on #14
Happy Hacking

Dont forget to Star and Update fork

[2022-10-04 10:33] InquisitiveMe15 opened #21 "CSS fault in the footer"
Screenshot of the same.

<img width="949" alt="image" src="https://user-images.githubusercontent.com/85685489/193797942-aeb49985-9f5c-4a99-982a-bfe64bae9527.png">

[2022-10-04 10:34] #18 closed

[2022-10-04 10:34] InquisitiveMe15 commented on #21
Please assign this issue to me and label it as **hactoberfest**.

Thank you :)

[2022-10-04 10:35] JawHawk commented on #21
I can work on this issue, kindly assign it to me.

[2022-10-04 10:38] ayush4345 commented on #14
[Canva brand kit](https://www.canva.com/learn/how-to-build-a-brand-kit/)
Check this,is this what u want?

[2022-10-04 10:40] rahul-n18 commented on #21
Yes surely I can assign this to you,
before that Please read ReadMe File, you need to understand it mainly not about editing a HTML page.

We are going to build a platform which will help student's in Learning, So with this Issue Please Provide me an Idea how and what we can Implement, what a student needs.
Please upload resources if you have.

If you can do this Ill Assign this with Hacktoberst t

[2022-10-04 10:42] rahul-n18 commented on #14
@ayush4345  Yup that would be Good.
are you willing to Work on this?

[2022-10-04 10:45] rahul-n18 commented on #16
Please read ReadMe File, you need to understand it mainly not about editing a HTML page.

We are going to build a platform which will help student's in Learning, So with this Issue Please Provide me an Idea how and what we can Implement, what a student needs.
Please upload resources if you have.

then you can create an Issue with your Idea.

If you can do this Ill Assign this with Hacktoberst tag.

[2022-10-04 10:45] #16 closed

[2022-10-04 10:57] rahul-n18 commented on #17
Sure Please create your Idea with a Name and add your Ideas there.
If you have resources please make sure to Add there.

Two things you have to do before that are:

1.Star this repo so others can see it. :star:
2.Please Give an Idea if an app is developed what would you want in that. :bulb:

Please update your forked repo so I can merge

Ps: Thank you in Advance

[2022-10-04 11:01] #5 closed

[2022-10-04 12:38] TechSpiritSS opened #27 "CODE_OF_CONDUCT"
I would like to Add `CODE_OF_CONDUCT.MD` file for this repo.

[2022-10-04 12:40] dharmikjethva30 commented on #14
please assign , i am ready for it

[2022-10-04 13:25] Morbius00 opened #28 "UI and UX design"
<img src="https://img.shields.io/badge/hacktoberfest-2022-blueviolet" alt="Hacktober Badge"/>

## UI and UX

Want to change the UI and UX design for your active github page student-library website.
please assigned me this work
regards,

[2022-10-04 13:33] Xenador77 commented on #7
My ideas for the app:
- Include soft skills and tips for job-seekers
- Google calendar integration (or in app calendar with events that can be exported). The calendar could be populated with events like hacktober, upcoming conferences, any ongoing (usually holiday themed) discounts on courses/learn-to-code platforms/TryHackMe, CTFs, and 30 days of code type challenges.

[2022-10-04 13:33] #21 closed

[2022-10-04 13:34] rahul-n18 commented on #27
Yes Ill Assign You, but Do it b4 9Pm Ill be modifying Some Things

Two things to Do before
1.Star this repo so others can see it. ⭐
2.Please Give an Idea if an app is developed what would you want in that. 💡

Please update your forked repo so I can merge

Ps: Thank you in Advance

[2022-10-04 13:47] rahul-n18 commented on #28
Two things to Do before
1.Star this repo so others can see it. ⭐
2.Please Give an Idea if an app is developed what would you want in that. 💡

Please update your forked repo so I can merge

Ps: Thank you in Advance

[2022-10-04 13:50] rahul-n18 commented on #7
That's Actually a good Idea

[2022-10-04 13:57] superiorsd10 opened #30 "feat: adding scroll animation"
Hey! I want to add scroll animation to the website, that'll be looking really cool.
Here's the demonstration of what it'll be looking like.

https://user-images.githubusercontent.com/92971894/193838831-83db800c-558b-4f23-b20a-07f7d4c3df0f.mp4

Please assign me this issue.

[2022-10-04 14:16] rahul-n18 commented on #30
Ill assign you this Task Please Update your current repo and that Student Library is Overlapping.
Two things to Do before
1.Star this repo so others can see it. ⭐
2.Please Give an Idea if an app is developed what would you want in that. 💡

Please update your forked repo so I can merge

Ps: Thank you in Advance

[2022-10-04 14:21] superiorsd10 commented on #30
@rahul-n18
1. Done 👍🏽
2. I think it should have all the books, and a student should be able to add the book he/she wants to read to the wishlist. New books should be added regularly. Students can also upload their notes on this app so that others can see them, it's gonna help others.

[2022-10-04 14:25] rahul-n18 commented on #30
All the Best Happy Coding

[2022-10-04 14:26] superiorsd10 commented on #30
@rahul-n18 Thank You :) I've made a PR to this issue. Please review it, and Happy Hactoberfest!

[2022-10-04 14:28] emepuchades opened #32 "Fix style of header in responsive"
Fix the header in the responsive and lower the font size so that the responsive menu is not under the title of the web

![Captura de Pantalla 2022-10-04 a las 16 24 02](https://user-images.githubusercontent.com/100128850/193845766-fd9cdf62-68e1-4a30-b3b5-f4b3a34b507e.png)
![Captura de Pantalla 2022-10-04 a las 16 24 13](https://user-images.githubusercontent.com/100128850/193845773-051b3193-3c65-44

[2022-10-04 14:29] rahul-n18 commented on #30
I Just checked your PR,

this Issue is Not solved

[2022-10-04 14:41] vardhan0604 commented on #32
can you assign me this

[2022-10-04 14:42] Tasneem-I opened #34 "Cyber security webpage"
Found the learn-computer-security.md guide and absolutely loved it. Its well-structured, captivating, concise and interesting.

I think it would be great to create a webpage for it.

[2022-10-04 15:12] superiorsd10 commented on #30
@rahul-n18 I've resolved that 'Student Library' text overlapping.
![SCR-20221004-sqx](https://user-images.githubusercontent.com/92971894/193857331-28de37ff-dd84-45c8-8815-9956a7eb9408.png)

[2022-10-04 15:55] nihal-soni opened #37 "Can I add Java Fundamental Cheatsheet"
This will be very beneficial for beginner

[2022-10-04 17:50] anju-chhetri opened #40 "Add more inclusive language"
I think it would be better to use a more inclusive language rather than using 'his'.

[2022-10-04 18:04] spykelionel opened #42 "Create library api"
Create an API using Nodejs, MongoDB, and Express

[2022-10-04 18:05] spykelionel commented on #42
@spykelionel can start effectively on this, once the db entities have been discussed

[2022-10-04 18:36] #30 closed, assigned to superiorsd10

[2022-10-04 18:39] rahul-n18 commented on #14
I have already

[2022-10-04 18:50] rahul-n18 commented on #32
Yes surely I can but before that Please read ReadMe File, you need to understand it mainly not about editing a HTML page.

We are going to build a platform which will help student's in Learning, So with this Issue Please Provide me an Idea how and what we can Implement, what a student needs.
Please upload resources if you have.

If you can do this Ill Assign this with Hacktoberst tag.

Happy Hacki

[2022-10-04 18:56] Arun9739 opened #43 "To add functionality to social media buttons present in the "meet our team""
- There are some social media buttons prsesnt in the "Meet our team"
- After clicking the button it doesn't redirect us to the desired page.
- So I want to make it to go to the respected social media websites.

**Screenshots** :

![image](https://user-images.githubusercontent.com/84305637/193902135-764ac571-29e9-405e-ae6c-a4f6b732f80f.png)

[2022-10-04 18:57] Arun9739 commented on #43
Please assign me this issue under Hacktoberfest

[2022-10-04 19:14] rahul-n18 commented on #37
Yes Please create a separate folder and make sure it is helpful to others.

before that do these

1.Star this repo so others can see it.
2. If you have an Idea please add it on Idea Folder.

Please update your forked repo so I can merge

Ps: Thank you in Advance

[2022-10-04 19:18] #40 closed

[2022-10-04 19:36] Maaz-Code opened #44 "Fix the footer UI"
## Problems:
- Footer components in the Newsletter section are not of the correct sizes.
- Responsiveness for screen sizes > 992px and < 1500px needs to be fixed.

## Screenshots:
Newsletter footer:

![image](https://user-images.githubusercontent.com/65590762/193909566-718bd873-e55b-4e73-ae3a-c46c511e7b60.png)

![image](https://user-images.githubusercontent.com/65590762/193909480-4fb42e6b-04a8-4c3

[2022-10-04 19:46] rahul-n18 commented on #42
I had an Idea.
Can you make an API which fetches things from another page so it's easy to access.

![API](https://user-images.githubusercontent.com/64891042/193911616-93cf4c8b-4d0c-4ed5-b0f2-40c50e359e66.png)

Ill be leaving a Flow which you can easily understand.

[2022-10-04 19:50] spykelionel commented on #42
All good @rahul-n18

[2022-10-04 19:51] spykelionel commented on #42
I guess you mean from the front end right? Although my issue is clearly specific to backend

[2022-10-04 19:55] rahul-n18 commented on #42
Im thinking about both

[2022-10-04 19:57] rahul-n18 commented on #44
I have assigned this to you

[2022-10-04 20:00] spykelionel commented on #42
That's not bad. A single module will do for the frontend.

[2022-10-05 01:14] michelle-salt opened #45 "Make menu highlight current page"
## Current Behavior
The menu currently always highlights the "Home" page, no matter what page I'm on

For example, in the image below, I am on the "About" page but the "Home" section of the menu is highlighted in yellow
<img width="943" alt="image" src="https://user-images.githubusercontent.com/69985466/193958178-6cf61c58-cb1a-496c-a0c8-b3aff8cfd3dc.png">

## Expected Behavior
The menu should high

[2022-10-05 03:52] nihal-soni commented on #37
I have forked it  already

[2022-10-05 04:06] nihal-soni commented on #37
Hey ,
I'm Nihal
And I have created a pull request....
@rahul-n18

[2022-10-05 05:19] Morbius00 commented on #28
hey @rahul-n18 put the hactober fest lable plz

[2022-10-05 06:20] i-am-yuvi opened #48 "I can add some resource link for the students of 9-12"
I can add some very good resource link for the students of 9-12

[2022-10-05 06:28] rahul-n18 commented on #42
Actually I would love to discuss further on this,
can you hop on Discord to Continue about this.

[2022-10-05 06:29] rahul-n18 commented on #42
Discord:  rahul_alldaynew#3221

[2022-10-05 06:35] rahul-n18 commented on #37
surely Ill merge It

[2022-10-05 06:36] rahul-n18 commented on #37
dont forget to star

[2022-10-05 06:37] #37 closed

[2022-10-05 07:03] rahul-n18 commented on #28
hello @Morbius00 Ill adding hacktoberfest tag.

here are the few changes I need

1. The Nav Bar looks doesn't match with things we are building, so change few name title such as what'new, call us and news letter, add something related to Repo
![Screenshot (57)](https://user-images.githubusercontent.com/64891042/193998786-a8c38fb2-6519-4be1-9036-7ced03bdb7a5.png)

2. Make this student library respo

[2022-10-05 07:06] nihal-soni commented on #37
but I Haven't got mail from Hacktoberfest 22 @rahul-n18

[2022-10-05 07:12] #32 closed

[2022-10-05 07:19] rahul-n18 commented on #34
@Tasneem-I the webpage is just for a demo purpose but the actual project will be different so no need to add that I guess

[2022-10-05 07:19] #34 closed

[2022-10-05 07:20] Tasneem-I commented on #34
Hey, I'm very curious about what your vision is? I understood that you are planning on having book resources available, maybe as an app.

But what's the rough outline?

[2022-10-05 07:21] #27 closed

[2022-10-05 07:23] rahul-n18 commented on #43
hello @Arun9739 I understand but before that Please read ReadMe File, you need to understand it mainly not about editing a HTML page.

We are going to build a platform which will help student's in Learning, So with this Issue Please Provide me an Idea how and what we can Implement, what a student needs.
Please upload resources if you have.

If you can do this Ill Assign this with Hacktoberst tag.

[2022-10-05 07:23] rahul-n18 commented on #43
Ill be closing Issue

[2022-10-05 07:23] #43 closed

[2022-10-05 07:25] rahul-n18 commented on #44
this issue is cleared.

[2022-10-05 07:25] #44 closed

[2022-10-05 07:27] rahul-n18 commented on #48
I would love to hear you out,
Could you elaborate?

[2022-10-05 07:33] rahul-n18 commented on #45
that issue is being taken care of.

please star and update your forked repo.
Provide me an Idea how and what we can Implement, what a student needs.
Please upload resources if you have.

If you can do this Ill Assign this with Hacktoberst tag.

Happy Hacking

[2022-10-05 07:47] Maaz-Code commented on #44
@rahul-n18 I checked it. This issue is not solved, kindly re-open it.

[2022-10-05 07:53] YashM246 opened #50 "Resources for AI/ML Enthusiasts"

[2022-10-05 07:54] YashM246 commented on #50
@rahul-n18 I can add some Resources and Links for people who are new and want to learn more about Machine Learning Algorithms and such.

[2022-10-05 07:55] Morbius00 commented on #28
well I need a little time for but I will do it for sure

[2022-10-05 08:00] rahul-n18 commented on #37
what mail?

[2022-10-05 08:01] rahul-n18 commented on #37
I have added the responsible labels

[2022-10-05 08:02] nihal-soni commented on #37
Thanks
Now it is showing.

[2022-10-05 08:02] rahul-n18 commented on #34
My Idea is build a Platform(it may be web/app) that will have a library/resources for students all at one place. let me give you an example, If I wanna Learn Dsa using c++ i just search here DSA c++ and I'm served with the resources that is uploaded by our Open Source members.
Lets Assume i need a book and I search it using Api we can fetch them the copyright free books or connect them to google b

[2022-10-05 08:04] rahul-n18 commented on #34
feel free to connect and exchange Ideas.

discord: https://discord.com/invite/mMqXKSVsAK

[2022-10-05 08:07] rahul-n18 commented on #44
@Maaz-Code the issue is being solved and it is in production

Thank you

[2022-10-05 08:08] rahul-n18 commented on #50
Surely but before that

1.Star this repo so others can see it.
2. Make a separate folder for this

Please update your forked repo so I can merge

Ps: Thank you in Advance

[2022-10-05 08:10] rahul-n18 commented on #28
Sure take your Time, but Please try to resolve all

[2022-10-05 08:10] rahul-n18 commented on #37
good

[2022-10-05 08:49] YashM246 commented on #50
So, I have starred this repo.
Just so we are on the same page,
Ill fork this repo and create a new folder in which I'll have to add the resources and links.
Then call a pull request?

Sorry this might be a basic question but I am new to Hacktoberfest. Thanks again!

[2022-10-05 09:30] i-am-yuvi commented on #48
I have cleared some competitive exams and I can help by providing some quality study materials which I used to use while preparing for exams. Eg. HC Verma for physics,etc

[2022-10-05 09:54] rahul-n18 commented on #50
I have Merged your Current Resource but can you add more, because it feels littlle.

Hoping for your response

[2022-10-05 09:58] rahul-n18 commented on #48
Ill assign you this work

[2022-10-05 10:03] i-am-yuvi commented on #48
Sure sure @rahul-n18

[2022-10-05 11:07] YashM246 commented on #50
@rahul-n18 Yes I will keep adding as I find more and more resources!

Thanks for merging!

[2022-10-05 12:32] sajjad-njr opened #54 "Can I add pdf book ?"
I see there is a folder of books that cover different pdf books. I want to add some books, Can I ?

[2022-10-06 06:17] rahul-n18 commented on #54
Yes you can but it must be copyright free book

[2022-10-06 06:25] #48 closed

[2022-10-06 06:37] Hanuvesh opened #58 "artificial intelligence roadmap"

[2022-10-06 06:46] rahul-n18 commented on #58
before that do these

1.Star this repo so others can see it.
2. If you have an Idea please add it on Idea Folder.

Please update your forked repo so I can merge

Ps: Thank you in Advance

[2022-10-06 06:47] rahul-n18 commented on #54
before that do these

1.Star this repo so others can see it.
2. If you have an Idea please add it on Idea Folder.

Please update your forked repo so I can merge

Ps: Thank you in Advance

[2022-10-06 07:39] TheLegendVilva opened #61 "I want to add ML books list"
I will like to add resources related to ML. I have a list of open source websites which will be helpful for students starting with or are in their intermediate stage on their journey to master Machine Learning. Please assign it to me and tag it hacktober.

[2022-10-06 08:09] Dun-sin opened #62 "fix footer header"
The "Student Library" header overflows

![image](https://user-images.githubusercontent.com/78784850/194257540-be9ef405-bb78-4f69-b0a6-95c2c9823f05.png)

[2022-10-06 08:10] Dun-sin opened #63 "Unified Border radius"
The border radius for `sign up` isn't unified around the button

![image](https://user-images.githubusercontent.com/78784850/194257801-a72c1365-93b5-4373-9d38-56ed2a33a4cb.png)

[2022-10-06 08:18] rahul-n18 commented on #62
before that do these

1.Star this repo so others can see it.
2. If you have an Idea please add it on Idea Folder.

Please update your forked repo so I can merge

Ps: Thank you in Advance

[2022-10-06 08:18] #62 closed

[2022-10-06 08:20] rahul-n18 commented on #63
Hello @Dun-sin  happy to hear you are Interested in Contributing to this Repo.

before that Please read ReadMe File, you need to understand it mainly not about editing a HTML page.

We are going to build a platform which will help student's in Learning, So with this Issue Please Provide me an Idea how and what we can Implement, what a student needs.
Please upload resources if you have.

If you can

[2022-10-06 08:20] #63 closed

[2022-10-06 08:20] Dun-sin commented on #62
fixing it doesn't hurt tho, but okay

[2022-10-06 08:47] Morbius00 commented on #28
Hope you like it   :)

[2022-10-06 10:02] #28 closed

[2022-10-06 10:10] rahul-n18 commented on #61
Sure Please Go on, ill be assigning you this Task.

before that do these

1.Star this repo so others can see it.
2. Add resources to Respective Folders

Please update your forked repo so I can merge

Ps: Thank you in Advance

[2022-10-06 12:53] spykelionel opened #66 "Add backend"
Add backend folder & files

[2022-10-06 13:18] sushrutlekurwale opened #67 "add some JAVA books"
I want to add some popular java programming books which can help students cover their fundamentals

[2022-10-06 13:59] TenTraicion opened #68 "Resources for Web Developers"
I will add some resources for web developers in a separate folder. Contribution for Hactoberfest.

Kindly assign.

[2022-10-06 14:03] sb-decoder opened #69 "Want to add two most popular DSA sheet pdf to placement preparation."
Please assign it to me

[2022-10-06 15:12] Simply-Sujal opened #71 "DSA Books"

[2022-10-06 16:08] SahilAnower commented on #66
Is it up for taking?

[2022-10-06 16:28] AnonymousKS opened #74 "Adding resources for Cybersecurity"

[2022-10-06 17:58] #61 closed

[2022-10-06 18:06] rahul-n18 commented on #42
sure @SahilAnower join discord we can discuss

[2022-10-06 18:08] rahul-n18 commented on #67
please make sure those are copyright free

before that do these

1.Star this repo so others can see it.
2. If you have an Idea please add it on Idea Folder.

Please update your forked repo so I can merge

Ps: Thank you in Advance

[2022-10-06 18:19] rahul-n18 commented on #69
Thank you for your Interest In this Repo.
before that do these

1.Star this repo so others can see it.
2. If you have an Idea please add it on Idea Folder.

Please update your forked repo so I can merge

Ps: Thank you in Advance

[2022-10-06 18:21] rahul-n18 commented on #74
Thank you for interest in this  repo.
before that do these

1.Star this repo so others can see it.
2. If you have an Idea please add it on Idea Folder.

Please update your forked repo so I can merge

Ps: Thank you in Advance

[2022-10-06 18:24] #74 closed

[2022-10-06 18:42] Maaz-Code opened #78 "DevOps resources folder"
Hey there, I want to create a folder in this repository dedicated to DevOps and its resources. I will also add a few links from where people can learn. Also, others can also then contribute to it with more resources. Kindly assign this to me.

[2022-10-06 18:44] rahul-n18 commented on #78
sure ill assign you this,

before that do these

1.Star this repo so others can see it.
2. If you have an Idea please add it on Idea Folder.

Please update your forked repo so I can merge

Ps: Thank you in Advance

[2022-10-06 18:45] TenTraicion commented on #68
Done with #72

[2022-10-06 18:45] #68 closed

[2022-10-06 19:18] Simply-Sujal commented on #71
yes i can do this work , and one request give tag of hacktoberfest to it .

[2022-10-06 19:38] sanvi0071 opened #79 "Favicon missing"

[2022-10-06 22:33] muskanbararia opened #80 "Add some resources for functional programming"
Can add resources for functional programming, what it is and how to approach using haskel etc.
Would want to work on it under hacktoberfest

[2022-10-07 01:45] utkarsh006 opened #81 "Priority Queues for Placements"
- Want to contribute an article over Priority Queues/ Heaps into your repository.
- The article will cover how to study this topic for the Interviews.
- The article will contain the list of the top curated questions on this topic.
- Kindly assign me this issue under hacktoberfest.

[2022-10-07 17:42] Swastik200 opened #85 "showing cycles of placement"
a rough sketch of detailed placement rounds....hope i will be assigned

[2022-10-07 17:53] rahul-n18 commented on #79
I would love to Add but before that Please read ReadMe File,
you need to understand it mainly not about editing a HTML page.

We are going to build a platform which will help student's in Learning, So with this Issue Please Provide me an Idea how and what we can Implement, what a student needs.
Please upload resources if you have.

If you can do this Ill Assign this with Hacktoberst tag.

Happy Ha

[2022-10-07 17:53] #79 closed

[2022-10-07 17:55] rahul-n18 commented on #80
Sure but please create separate folder and all the resource/road map or books which may help many students.

before that do these

1.Star this repo so others can see it.
2. If you have an Idea please add it on Idea Folder.

Please update your forked repo so I can merge

Ps: Thank you in Advance

[2022-10-07 17:55] rahul-n18 commented on #80
Ill be adding Hacktoberfest Label

Happy Hacking

[2022-10-07 17:58] rahul-n18 commented on #81
Sure I can @utkarsh006 thank you for your Interest in this repo, it will help a lot of students.

before that do these

1.Star this repo so others can see it.
2. If you have an Idea please add it on Idea Folder.

Please update your forked repo so I can merge

Ps: Thank you in Advance

[2022-10-07 18:09] rahul-n18 commented on #85
Sure Ill be assign you this with hacktoberfest label.

before that do these

1.Star this repo so others can see it.
2. If you have an Idea please add it on Idea Folder.

Please update your forked repo so I can merge

Ps: Thank you in Advance

[2022-10-07 18:39] #78 closed

[2022-10-07 18:44] #81 closed

[2022-10-07 18:53] aditi10701 opened #87 "Cheatsheets for WEB DEVELOPMENT"
CHEAT SHEETS for web development can be added to the web developer section consisting of a brief roadmap to prepare for placements and complete information about MERN STACK projects and brief over view of cheat sheets of HTML,CSS,JAVASCRIPT.
I am interested to work on this issue kindly assign me the same.

[2022-10-07 18:55] rahul-n18 commented on #87
sure you can

before that do these

1.Star this repo so others can see it.
2. If you have an Idea please add it on Idea Folder.

Please update your forked repo so I can merge

Ps: Thank you in Advance

[2022-10-07 19:06] Ashish-242 commented on #69
I want to contribute towards it can you assign it to me

[2022-10-07 19:16] rahul-n18 commented on #69
Can you create a new issue and make sure to

1.Star this repo so others can see it.
2. If you have an Idea please add it on Idea Folder.

Please update your forked repo so I can merge

Ps: Thank you in Advance

[2022-10-07 19:35] TomerSHA opened #89 "Adding Python books"
I have a few books about using python in different fields (such as ciphers, math and automation.

[2022-10-08 03:39] heyvats21 opened #90 "Change BEST DIGITAL LIBRARY EXPERIENCE image"
In this page its the jpeg image i want to make its background transparent so that it can look much better than before.
![image](https://user-images.githubusercontent.com/81029204/194686361-a25466c0-fe38-4b9a-a8c5-ee0ce462c039.png)

Please assign it under Hactoberfest .

[2022-10-08 03:51] SpywarePersues opened #91 "Styling issues in the footer"
![image](https://user-images.githubusercontent.com/97043346/194686891-54a669c8-d885-4760-a2b0-ea5650f02762.png)

**PLEASE MAY  I GET ASSIGNED FOR THIS ISSUE?**

[2022-10-08 05:26] Muthulakshimi opened #93 "full stack web dev roadmap"

[2022-10-08 07:53] rahul-n18 commented on #69
Thank you for your Contribution

[2022-10-08 07:55] rahul-n18 commented on #89
sure feel free to add and create a separate folder.

before that do these

1.Star this repo so others can see it.
2. If you have an Idea please add it on Idea Folder.

Please update your forked repo so I can merge

Ps: Thank you in Advance

[2022-10-08 07:56] rahul-n18 commented on #90
Thank you for your Interest in this repo but,
before that Please read ReadMe File, you need to understand it mainly not about editing a HTML page.

We are going to build a platform which will help student's in Learning, So with this Issue Please Provide me an Idea how and what we can Implement, what a student needs.
Please upload resources if you have.

If you can do this Ill Assign this with Hack

[2022-10-08 07:56] #90 closed

[2022-10-08 08:00] rahul-n18 commented on #91
Thank you for your Interest in this Repo but,
before that Please read ReadMe File, you need to understand it mainly not about editing a HTML page.

We are going to build a platform which will help student's in Learning, So with this Issue Please Provide me an Idea how and what we can Implement, what a student needs.
Please upload resources if you have.

If you can do this Ill Assign this with Hack

[2022-10-08 08:00] #91 closed

[2022-10-08 08:06] rahul-n18 commented on #93
Thank you for your Interest in this Repo but,
before that do these

1.Star this repo so others can see it.
2. If you have an Idea please add it on Idea Folder.

Please update your forked repo so I can merge

Ps: Thank you in Advance

[2022-10-08 08:31] rahul-n18 opened #96 "Testing Workflow"

[2022-10-08 08:31] rahul-n18 commented on #96
/assign

[2022-10-08 08:34] rahul-n18 commented on #96
/assign

[2022-10-08 08:35] Muthulakshimi commented on #93
@rahul-n18 On it! thanks for mentioning the steps :D
I think its taking a little more data than usual while cloning thats why I couldnt finish the pr

[2022-10-08 08:36] #96 closed

[2022-10-08 08:37] rahul-n18 commented on #93
sure

Happy Hacking

[2022-10-08 08:50] heyvats21 opened #97 "Footer of Project.html section"
the footer of project.html is not accurate i want to edit this part.

![image](https://user-images.githubusercontent.com/81029204/194698860-8192f056-e15e-430f-b0fd-238249cde733.png)

[2022-10-08 08:51] parth-panchal opened #98 "Material for GRE"
I recently gave my GRE and in that process, I have managed to accumulate a lot of hard-to-find and exclusive material for preparation. I can add all that here, which can help a lot of students. If this is an acceptable contribution, please assign this issue to me and add the hacktoberfest labels too.

[2022-10-08 08:53] heyvats21 commented on #97
/assign

[2022-10-08 08:53] parth-panchal commented on #98
/assign

[2022-10-08 08:57] BxtGeek opened #99 "Will Add linux cheat sheet"
Will Add linux cheat sheet

[2022-10-08 08:58] BxtGeek commented on #99
/assign

[2022-10-08 09:00] BxtGeek commented on #99
Thanks for assigning will update you once done

[2022-10-08 09:13] koder-aritra opened #100 "Will add CP related books and Web Dev books."
I will add pdfs of books related to Competitive Programming and Web development.

[2022-10-08 09:14] saurabhcodes25 opened #102 "Book for the Rust programming language"
Will be adding a book for the Rust programming language.

[2022-10-08 09:14] koder-aritra commented on #100
/assign

[2022-10-08 09:14] saurabhcodes25 commented on #102
/assign

[2022-10-08 09:19] saurabhcodes25 commented on #102
@rahul-n18 please check #103 and merge it.

[2022-10-08 09:36] UltimateDip opened #104 "All important sites for DSA/CP/Dev etc"
I want to add a file where all the important and popular sites will be present so that a beginner can have access to all the sites that are people using to learn that specific skill. People can add more sites after that also

[2022-10-08 09:37] Atharv-110 opened #105 "Basics of NumPy in ML"
Hey @rahul-n18 , I would like to add numpy basics that is prerequisite for Machine Learning.

It will be an .ipynb file so that learner could get the working of thr code as well as through comments and markdown he will understand the theoretical concepts.

#### Please consider and assign this issue to me under Hacktoberfest 2022 and add tags related to it.

Thank you

[2022-10-08 09:38] Atharv-110 commented on #105
/assign

[2022-10-08 09:38] UltimateDip commented on #104
/assign

[2022-10-08 09:45] sakshi025 commented on #104
/assign this repo to me please
I want to add a picture containing important sites for the resources of dsa,cp

[2022-10-08 09:56] UltimateDip commented on #104
After adding the file, you can upload the pictures.

[2022-10-08 10:10] sakshi025 commented on #104
@UltimateDip can u update me after adding the file

[2022-10-08 10:13] nishtha53 opened #109 "Footer links redirect to specific page"
![image](https://user-images.githubusercontent.com/68805896/194702438-97f6fd12-6755-493a-9382-947aacf4eafd.png)
 - About us, Our services, pricing plan, Meet the team, Contact us page should redirect to particular page.

- Social links should added.

Question:

Get in touch information is correct?

copyright text is wrong

[2022-10-08 10:14] UltimateDip commented on #104
@sakshi025  Just now I submitted PR. [pr link](https://github.com/rahul-n18/Student-Library/pull/108#issue-1401898170)

[2022-10-08 10:30] Savio629 opened #111 "Add a github Link of the repo"
An addon of github link of the repo would be great in the follow up section.

[2022-10-08 10:31] Savio629 commented on #111
/assign

[2022-10-08 10:52] nishtha53 commented on #109
/assign

[2022-10-08 11:14] #105 closed

[2022-10-08 11:39] sumitkr2000 opened #112 "Improving frontend"
Hey, @rahul-n18 I want to improve the front end of your website because it looks more static. I want to add hover effects and animation to your website. Can you please assign me this issue?

[2022-10-08 11:41] zugzwang03 opened #113 "Add appropriate text on the library about"
I want to add appropriate text on the about section of the website.
![Screenshot_20221008-170911_Samsung Internet](https://user-images.githubusercontent.com/95460021/194705592-e8d90287-fd5c-4e05-b5da-138db4ebae3e.jpg)
Can I make this contribution under hacktoberfest '22?

[2022-10-08 12:19] sumitkr2000 commented on #112
/assign

[2022-10-08 12:20] Ashish-Abraham opened #114 "Add more resources for deep learning"
@rahul-n18  can I add resources for Deep Learning with Pytorch and TensorFlow?

[2022-10-08 12:23] Ashish-Abraham commented on #114
/assign

[2022-10-08 13:16] Swap-nil-2003 opened #116 "Introduction To Machine Learning"
@rahul-n18 can I add a YouTube playlist link of an introductory course on Machine Learning provided by NPTEL?

[2022-10-08 13:18] Swap-nil-2003 commented on #116
/assign

[2022-10-08 13:35] Savio629 commented on #111
Added a pr #118
Review and accept it!
Thanks!

[2022-10-08 14:28] zugzwang03 commented on #113
/assign

[2022-10-08 14:52] #113 closed

[2022-10-08 15:21] HARSHITSHARMA18 opened #120 "Competitive Programming by Felix Halim and Steven Halim"
I Would like to Add this Competitive Programming book, one of the best ( as listed by GFG on their Webpage of Top 5 best books for competitive programming )

[2022-10-08 15:22] HARSHITSHARMA18 commented on #120
/assign

[2022-10-08 17:50] #97 closed

[2022-10-08 17:57] #102 closed

[2022-10-08 18:09] rahul-n18 commented on #104
hello Admin here

Thank you for your Interest in this Repo but,
before that Please read ReadMe File, you need to understand that we are going to build a platform which will help student's in Learning, So with this Issue Please Provide me an Idea how and what we can Implement, what a student needs.

### Please upload resources if you have
If you can do this Ill Assign this with Hacktoberst tag.

Ha

[2022-10-08 18:09] #104 closed

[2022-10-08 18:14] rahul-n18 commented on #100
Do you have any Issue with this repo?

you have almost deleted everything on this Repo and PR request.

If this was a genuine mistake we forgive, else really you messed Up.

[2022-10-08 18:14] #100 closed

[2022-10-08 18:21] UltimateDip commented on #104
For learning purposes only I want to add this. As a student, we don't have much time to waste searching for the best sites to practice DSA questions, or we don't have much time to participate in every CP site every contest, so I want to add a file which will consider the most used sites, so that student's don't need to waste any time and directly they can jump to practice or learning and hence imp

[2022-10-08 18:22] UltimateDip commented on #104
e.g. If someone is preparing for SDE interviews then leetcode, interviewbit etc are best.

[2022-10-08 19:01] #116 closed

[2022-10-08 19:03] #111 closed

[2022-10-08 19:15] #7 closed

[2022-10-08 19:15] #9 closed

[2022-10-08 19:17] rahul-n18 commented on #11
@anshulsoni4 any updates

[2022-10-08 19:21] #98 closed

[2022-10-08 19:25] rahul-n18 commented on #104
Hello @UltimateDip please understand that I can merge your PR but it goes against Hactoerfest.

I hope you understand and I dont want you to get the wrong Idea please add moe resources I would love to merge your PR.

[2022-10-08 19:49] UltimateDip commented on #104
@rahul-n18
First of all I'm **not** doing this for **hacktoberfest**. I'm new to open source and I want to start contributing. In the readme, I saw

Therefore, I want to contribute and then update it whenever I found any new resources.
Secondly, I think this repo is excluded from hacktoberfest already,

[2022-10-08 19:58] Simply-Sujal commented on #71
Can you please hactoberfest tag to it ?

[2022-10-08 20:16] rahul-n18 commented on #71
Thank you for Contributing to this Repo😊

please Star this repo so it can reach so many Students in need

[2022-10-08 21:12] neocollege opened #124 "HTML Cheat Sheet"

[2022-10-08 23:42] AbirSantra opened #127 "Add spacing between filter buttons"
Hi, currently in the mobile view, there is no spacing between the filter buttons. I would like to add some spacing in between them for better UI.

![Screenshot_2022-10-09-05-09-46-228_com.brave.browser.jpg](https://user-images.githubusercontent.com/78201921/194731367-21790b64-023f-482e-a2ef-301f5b53b5d2.jpg)

I want to work on this issue under Hacktoberfest 2022

[2022-10-09 03:05] sakshi025 commented on #104
Is this repo excluded from hacktobefest

??

On Sun, Oct 9, 2022, 1:19 AM Dipankar Dutta ***@***.***>
wrote:

[2022-10-09 03:13] anshulsoni4 commented on #11
will complete in some time

[2022-10-09 03:21] UltimateDip commented on #104
@sakshi025 yes.
![image](https://user-images.githubusercontent.com/68418035/194736246-582cc18f-5f8d-4694-a06e-a20f70f7db38.png)

![image](https://user-images.githubusercontent.com/68418035/194736255-2c5f5780-71a0-4aa1-8874-0d0e6ba22bef.png)

[2022-10-09 05:26] Rinshin-Jalal commented on #42
Am also interested in this project

[2022-10-09 07:01] #124 closed

[2022-10-09 09:18] Yasas4D opened #130 "Add Resources for Machine Learning and Deep Learning"
@rahul-n18 I would love to add a resource that helps for people who are new and want to learn more about Machine Learning and Deep Learning. Can you assign this to me as a hacktoberfest contribution?

[2022-10-09 09:34] Akash-moon commented on #85
Please assign it to me under hacktoberfest22.

[2022-10-09 09:40] Swastik200 commented on #85
Sir I will do this today itself ....

On Fri, 7 Oct 2022, 23:39 Rahul N, ***@***.***> wrote:

[2022-10-09 11:29] jyotika6221 commented on #69
Hey is the issue closed or can i work on it? Please reply it can be my first pr.

[2022-10-09 11:29] jyotika6221 commented on #67
Hey is the issue closed or can i work on it? Please reply it can be my first pr.

[2022-10-09 11:30] jyotika6221 commented on #17
Hey is the issue closed or can i work on it? Please reply it can be my first pr.

[2022-10-09 11:31] jyotika6221 commented on #11
Hey is the issue closed or can i work on it? Please reply it can be my first pr.

[2022-10-09 11:37] sb-decoder commented on #69
I already added striver and Fraz's DSA sheet , if you want to add another one then create a new issue and get assignment from maintainer.

[2022-10-09 11:56] Devbysteph commented on #17
Hi @jyotika6221 you can work on this for your first PR. I'll unassign myself and contribute in coming time. @rahul-n18 please assign this issue to @jyotika6221

[2022-10-09 12:17] jyotika6221 opened #133 "I can add some web dev roadmaps which will be of great help."
Please assign me this task.This can be my first pr.

[2022-10-09 12:19] jyotika6221 commented on #17
thank you so much @Devbysteph . Please assign me this task @rahul-n18

[2022-10-09 12:47] anshulsoni4 commented on #11
sure you can work :)

[2022-10-09 13:17] sumitkr2000 opened #134 "This repo has been excluded from hacktoberfest"
![Screenshot (396)](https://user-images.githubusercontent.com/100675296/194759068-7755304b-0e8e-4723-8cff-b7762308eb44.png)

[2022-10-09 13:32] jyotika6221 commented on #11
@anshulsoni4 ok but @rahul-n18 needs to assign it to me.

[2022-10-09 15:34] vishaaal commented on #134
lol thanks for informing others

[2022-10-09 21:09] jyotika6221 commented on #93
Hey, can you please assign this issue to me. It can be my first pr.

[2022-10-10 02:41] rahul-n18 commented on #93
Hello @jyotika6221 as Its already assigned you need to wait 1 day more to assign it to you

[2022-10-10 02:44] rahul-n18 commented on #134
@sumitkr2000 @vishaaal we have contacted the Admin team to understand the Issue here.
but the reason you are contributing for this repo matters a lot cause, we will be helping a lot of students by guiding and literally handing down them road map

[2022-10-10 02:44] #134 closed

[2022-10-10 02:46] rahul-n18 commented on #11
Happy Hacking

[2022-10-10 05:49] jyotika6221 commented on #93
Ok, I shall wait.

[2022-10-10 07:03] SreenikaMyakala opened #135 "I can add best resources for Android development for beginners"

[2022-10-10 07:04] SreenikaMyakala commented on #135
If accepted, please assign this to me!!

[2022-10-10 19:20] MohitNamdev22 opened #136 "I will add a best Youtube channel for coding"
I'll make a readme file that contains the best youtube channel resources. Can I work on this under hacktoberfest '22

[2022-10-10 19:44] mezotv opened #137 "[Question] How to add"
How does adding content work here. I know a few things about graphics design and other stuff that i might want to share. How would doing so work ?

[2022-10-11 08:23] Swastik200 commented on #85
Thank u
Is it OK to work tomorrow na as network is very slow sir

On Fri, 7 Oct 2022, 23:39 Rahul N, ***@***.***> wrote:

[2022-10-11 08:25] Esavwede opened #139 "I am creating a folder Backend with a folder containing backend project ideas"
Backend folder will contain project ideas for developers

[2022-10-11 11:58] rahul-n18 commented on #139
Sure, I would Love to hear your Idea's

[2022-10-11 18:11] bhattabhi013 opened #140 "Add glass effect"
What:
The current white background doesn't look good and instead, glass background can be used.

Screesnhot:
<img width="803" alt="image" src="https://user-images.githubusercontent.com/47862474/195167373-89bfa333-f716-4a04-891b-f2e46c126065.png">

[2022-10-11 18:11] bhattabhi013 commented on #140
Please assign this issue to me.

[2022-10-12 03:48] rahul-n18 opened #141 "Repository Excluded"
The reason everyone texting why the repo is excluded is below ![Screenshot_2022-10-12-09-11-30-603_com.discord.jpg](https://user-images.githubusercontent.com/64891042/195245228-32af7618-be0e-45f0-aa04-9b7ac01f8abd.jpg)

I had a thought that helping was good, but did not know it would turn up like this.

But worry not this repo will be always open and you learn from this.

Thank you open source com

[2022-10-12 11:36] #137 closed

[2022-10-13 13:57] ruturaj-gh commented on #89
can you assign it to me

[2022-10-13 14:00] ruturaj-gh commented on #93
hey i can do this , can you assign it to me

[2022-10-13 15:34] #89 closed

[2022-10-15 05:35] Simply-Sujal commented on #71
Can you tell me why i am getting this error ?

$ git clone https://github.com/rahul-n18/Student-Library.git
Cloning into 'Student-Library'...
remote: Enumerating objects: 934, done.
remote: Counting objects: 100% (38/38), done.
remote: Compressing objects: 100% (36/36), done.
remote: Total 934 (delta 11), reused 3 (delta 1), pack-reused 896
Receiving objects: 100% (934/934), 661.30 MiB | 3.93 MiB/

[2022-10-15 16:18] rahul-n18 commented on #71
First fork this repo and then try to clone it.

Hope this helps.

[2022-10-16 07:07] Mayank-Sharma17 commented on #54
@rahul-n18 can I add a pdf book I have 2 to 3 pdfs for java and DSA concepts for easy understanding.

[2022-10-16 07:22] Mayank-Sharma17 commented on #71
hey, @rahul-n18 can you assign me. this can be my first pr <3

[2022-10-17 03:50] MohitNamdev22 opened #154 "Replace demo content with real info"
On the main page, on our services section there is demo content present, so can I add replace it with real information.
![image](https://user-images.githubusercontent.com/89779447/196085371-187bec85-0431-4986-84d3-a26875c9586a.png)

[2022-10-17 12:57] rahul-n18 commented on #154
please refer to issue #141

[2022-10-17 12:57] #154 closed

[2022-10-17 14:32] #67 closed

[2022-10-17 16:05] hitcodemann commented on #85
hey @rahul-n18 can u assign this to me?

[2022-10-17 16:40] Swastik200 commented on #85
Plz assign

On Mon, 17 Oct 2022, 21:35 hitcodemann, ***@***.***> wrote:

[2022-10-17 17:58] #135 closed

[2022-10-17 19:52] Saket109 opened #158 "Want to add edureka! devops full course for beginners."
Edureka is providing 7 hour long video tutorial on devops for beginners

[2022-10-18 10:14] #112 closed

[2022-10-18 17:15] #158 closed

[2022-10-21 17:57] #140 closed

[2022-11-06 12:37] #11 closed

[2022-11-06 12:37] #14 closed

[2022-11-06 12:37] #17 closed

[2022-11-06 12:38] #50 closed

[2022-11-06 12:38] #54 closed

[2022-11-06 12:38] #58 closed

[2022-11-06 12:38] #66 closed

[2022-11-06 12:39] #69 closed

[2022-11-06 12:39] #71 closed

[2022-11-06 12:39] #80 closed

[2022-11-06 12:39] #85 closed

[2022-11-06 12:40] #93 closed

[2022-11-06 12:41] #99 closed

[2022-11-06 12:42] #87 closed

[2022-11-06 12:43] #109 closed

[2022-11-06 12:43] #114 closed

[2022-11-06 12:44] #120 closed

[2022-11-06 12:45] #127 closed

[2022-11-06 12:49] #130 closed

[2022-11-06 12:50] #133 closed

[2022-11-06 12:50] #136 closed

[2022-11-06 12:50] #139 closed

[2022-11-06 12:51] #141 closed